<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">User database</h3>
</div>

<div class="jumbotron">
  <h1>Hello Users</h1>
  <table>
  <tr><th>FirstName</th><th>LastName</th><th>Age</th></tr>
  <tr ng-repeat="user in users"><td>{{user.firstname}}</td><td>{{user.lastname}}</td><td>{{user.age}}</td></tr>
  </table>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from Alex</p>
</div>
